.divmenu {
    background-color: grey;
    justify-content: space-between;
   
    &__nav {
        display: flex;
        justify-content: center;
   }
    
}

.menunav {
    display: flex;
    justify-content: center;
}