@use "../core/variables" as vars;

.hero {
    background-image: url(/images/cover.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 85%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__div {
        width: 35px;
        height: 35px;
        background-color: vars.$color-secondary;

        &__image {
            object-fit: contain;
            flex-grow: 0;
            padding-left: 10px;
            padding-top: 10px;
        }
      
    }

}

.divflex {

    &__container {
        width: 100%;
        display:flex;
        flex-direction: column;
    
        &__title1 {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            flex-grow: 0;
            color: vars.$color-main;
            display: flex; 
            text-align: center;
        }  
}
   
    
}

.title2 {
        color: vars.$color-main;
        text-align: center;
}






