@use"../core/variables" as vars;

.sport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin: 20px 20px 20px 20px;

    &__tittle {
        color: vars.$color-secondary;
        font-size: 18px;

        &__big {
            font-size: 28px;
        }
    }

}

.p-sport {
    font-size: 20px;
    color: lightgrey
}

.shopping {
    border: solid vars.$color-secondary;
    text-align: center;
    color: vars.$color-secondary;
}

