<footer id="footer.html">
    <nav class="menu">
        <ul class="menu__list">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li> 
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="list-foot">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>
    <div class="copy">
        &copy; 2023 
        <p>we run</p>
    </div>
</footer>
