<div class="divmenu">
    <section>
        <h6>¡Préparalos con tus marcas favoritas!</h6>
        <h2>VUELTA AL COLE</h2>
    </section>
    <nav class="divmenu__nav">
        <ul class="divmenu__nav__list">
            <li><a href="https://adalab.es/">ZAPATILLAS</a></li>
            <li><a href="https://adalab.es/">ROPA</a></li>
            <li><a href="https://adalab.es/">NIÑO/A</a></li>
            <li><a href="https://adalab.es/">DESTACADOS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>
    </nav>

    <nav class="menunav">
        <ul>
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">YOUTUBE</a></li>
        </ul>
    </nav>
    <div>
        <p>&copy;2023</p>
    </div>
    <div>
        we run
    </div>

</div>