<section class="hero">
    <div class="hero__div">
        <a href="https://adalab.es/">
            <img class="hero__div__image" src="../images/ico-menu.svg" alt="menu">
        </a>
    </div>
    <div class="container">
    <div class="container__title1">
        <h1>COMIENZOS
        COMPARTIDOS</h1>
        </div>
    <div class="title2">
        <p>Todo lo que necesitan para volver al cole con ilusión</p>
    </div>
</div>
    <div class="container-image">
        <img src="../images/ico-scroll-down.svg" alt="flecha-abajo">
    </div>

</section>