<div class="container-main">
    <div>
        <h4>HISTORIAS, MODA Y ROPA DEPORTIVA</h4>
        <h1 class="tittlesport">TU TIENDA DE DEPORTE</h1>
        <div>
            <p>El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para hombre y mujer te
                ofrece las
                últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
        </div>
        <div class="shopping">
            <a href="">Comprar</a>
        </div>
    </div>

</div>