<section class="section2">
    <div class="section2__tittlediv">
        <h6>¡Préparalos con tus marcas favoritas!</h6>
        <h2>VUELTA AL COLE</h2>
    </div>
    <div class="bag-girl">
        <img class="bag-girl__imgsect1" src="../images/lpbts-mod05-img01-desk.png" alt="niña">
            <h3>Mochilas escolares</h3>
    </div>
    <div class="boy">
        <img class="boy__imgsect2" src="../images/lpbts-mod05-img04-mob.png" alt="niño">
        <h3>Estuches</h3>
    </div>
    <div class="girl">
        <img class="girl__imgsect3" src="../images/lpbts-mod05-img03-mob.png" alt="niña">
        <h3>Bolsas de deporte</h3>
    </div>
    <div class="rectangle">
        <span class="rectangle__startnow"><a href="https://adalab.es/">Empezar ahora</a></span>
    </div>
</section>